.user{
    flex: 4;
    padding: 20px;
}
.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.userContainer{
    display: flex;
    margin-top: 20px;
   
}
.userShow{
   
    flex: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);    
}
.userUpdate{
   
    flex: 2;
    padding: 20px;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);    
}
.userShowTop{
    border: solid 2px red;
    display: flex;
    align-items: center;
}
.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userShowTopTitle{
    border: solid 2px blue;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUsername{
    font-weight: 600;
}
.userShowUserTitle{
    font-weight: 300;
}
