<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">




                <div class="productos-admin">

                    <% products.forEach(product=> { %>

                        <% if (product.status ==="Disabled" ) { %>
                            <%- include("../components/adminProductDisable",{product:product}) %>
                                <% } %> 

                                        <% }) %>

                </div>

            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
            
    </body>

    </html>