<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">
                <section>


                    

                        <ul class="admin-list">
                            <li>
                                <a href="/user/profile"> <button class="form__button">Mi perfil</button></a>
                            </li>
                            <li>
                                <a href="/admin/lista/usuarios"> <button class="form__button">Usuarios
                                        Activos</button></a>

                            </li>
                            <li>

                                <a href="/admin/lista/usuariosinactivos"> <button class="form__button">Usuarios
                                        Inactivos</button></a>
                            </li>
                       
                        
                            <li>
                                <a href="/admin/lista/productos"><button class="form__button">Productos
                                        activos</button></a>
                            </li>
                            <li>
                                <a href="/admin/lista/productosInactivos"><button class="form__button">Productos
                                        inactivos</button></a>
                            </li>
                            <li>
                                <a href="/admin/productos/crear"><button class="form__button">Carga de
                                        productos</button></a>
                            </li>

                        </ul>

                    <
                </section>


                <div class="news-letter">
                    <h2>Suscribite a nuestro newsletter</h2>
                    <form action="/" method="POST">
                        <div class="div-newsletter">

                            <input type="email" name="newsletter" placeholder="Ingresa tu e-mail">
                            <button class="news-letter-btn"><i class="fa-solid fa-arrow-right arrow-news"></i></button>
                        </div>
                    </form>

                </div>

                <div class="help-button">
                    <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                </div>

            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
    </body>

    </html>