<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">
                <h3 class="all-product-title">Usuarios Registrados Inactivos</h3>
                <div class="productos-admin">

                    <% users.forEach(usuario=> { %>
                        <% if (usuario.status === "Inactivo") { %>
                            <%- include('../components/singleUserDisabled', {usuario : usuario}) %> 
                        <% } %>
                    <% }) %>

                </div>


            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
               

    </body>

    </html>