<footer>



    <div class="footer-mobile">
        <ul class="footer-mobile-list">
            <li class="uno">
                <h4>SERVICIO AL CLIENTE<i class="fa-solid fa-headphones-simple"></i></h4><br><br>
                <ul class="institucional">
                    <li><a href="/404">MEMBRESÍAS</a></li>
                    <li><a href="">CUPONES</a></li>
                    <li><a href="">MEDIOS DE PAGO</a></li>
                    <li><a href="">GARANTÍAS</a></li>
                </ul>
            </li><br>
            <li class="uno">
                <h4>INSTITUCIONAL <i class="fa-solid fa-building"></i></h4><br><br>
                <ul class="institucional">
                    <li><a href="">LOCALES</a></li>
                    <li><a href="">CONTACTO</a></li>
                    <li><a href="">FORMULARIO DE CONTACTO</a></li>
                </ul>
            </li><br>
            <li class="uno">
                <h4>AYUDA <i class="fa-solid fa-hand-holding-hand"></i></h4><br><br>
                <ul class="institucional">
                    <li><a href="">CAMBIOS Y DEVOLUCIONES</a></li>
                    <li><a href="">PREGUNTAS FRECUENTES</a></li>
                    <li><a href="">CUIDADO DEL CALZADO</a></li>

                </ul>
            </li><br>
            <li class="uno">
                <h4>FRANQUICIAS <i class="fa-solid fa-store"></i></h4><br><br>
                <ul class="institucional">
                    <li><a href="">REQUISITOS</a></li>
                    <li><a href="">INFORMACIÓN LEGAL</a></li>
                </ul>
            </li><br>
            <li class="uno">
                <h4>ACERCA DE SHOE-MARKET <i class="fa-solid fa-people-group"><br></i></h4>
                <ul class="institucional">
                    <li><a href="/404">NOSOTROS</a></li>
                    <li><a href="/404">TÉRMINOS Y CONDICIONES</a></li>
                    <li><a href="/404">POLÍTICA DE PRIVACIDAD</a></li>
                    <li><a href="/404">POLÍTICA DE DATOS</a></li>
                    <li><a href="/404">TRABAJA CON NOSOTROS</a></li>
                </ul>
            </li>
            <li class="uno">
                <h4>SEGUINOS <i class="fa-solid fa-building"></i></h4><br>
                <ul class="institucional">
                    <li><a href="https://es-la.facebook.com/shoemarket.ar/"><img src="/img/facebook.png" alt="logo-face"
                                width="20"></a>
                    <a href="https://instagram.com/shoe_market_dh?igshid=YmMyMTA2M2Y="><img
                                src="/img/instagram.png" alt="logo-instagram" width="20"></a></li>
                    <li><a href="https://twitter.com/shoemarketAR"> <img src="/img/twitter.png" alt="logo-twitter"
                                width="20"></a>
                    <a href="www.linkedin.com/in/joel-casa-marquez"><img src="/img/linkedin.png" alt="logo-linkedin"
                                width="20"></a></li>
                    <li>
                        <a href="https://wa.me/+5491140310527"><img src="/img/whatsapp.png" alt="logo-whatsapp"
                                width="20"></a> 
                                <a href="https://wa.me/+5491140310527"><img src="/img/pinterest.png" alt="logo-pinterest"
                                    width="20"></a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>

    <div class="social-nets">

        <a href="https://es-la.facebook.com/shoemarket.ar/"><img src="/img/facebook.png" alt="logo-face" width="30"></a>
        <a href="https://instagram.com/shoe_market_dh?igshid=YmMyMTA2M2Y="><img src="/img/instagram.png"
                alt="logo-instagram" width="30"></a>
        <a href="https://twitter.com/shoemarketAR"> <img src="/img/twitter.png" alt="logo-twitter" width="30"></a>
        <a href="www.linkedin.com/in/joel-casa-marquez"><img src="/img/linkedin.png" alt="logo-twitter" width="30"></a>
        <a href="https://ar.pinterest.com/"><img src="/img/whatsapp.png" alt="logo-whatsapp" width="30"></a>

    </div>

    <div class="credit-cards">
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png">
        <img
            src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png">
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png">
        <img
            src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png">
        <img
            src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png">
        <img class="uno"
            src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercarddebit@2x.png ">

    </div>

    <div class="td">
        <h5>SHOE MARKET &#169; Todos los derechos reservados</h5>
    </div>

</footer>