<footer>
            
      

    <div class="footer-mobile">
        <ul class="footer-mobile-list">
            <li class="uno"><h4>SERVICIO AL CLIENTE<i class="fa-solid fa-headphones-simple"></i></h4><br><br><ul class="institucional"><li>MEMBRESÍAS</li><li>CUPONES</li><li>MEDIOS DE PAGO</li><li>GARANTÍAS</li></ul></li><br>
            <li class="uno"><h4>INSTITUCIONAL <i class="fa-solid fa-building"></i></h4><br><br><ul class="institucional"><li>LOCALES</li><li>CONTACTO</li><li>FORMULARIO DE CONTACTO</li></ul></li><br>
            <li class="uno"><h4>AYUDA <i class="fa-solid fa-hand-holding-hand"></i></h4><br><br><ul class="institucional"><li>CAMBIOS Y DEVOLUCIONES</li><li>PREGUNTAS FRECUENTES</li><li>CUIDADO DEL CALZADO</li></ul></li><br>
            <li class="uno"><h4>FRANQUICIAS <i class="fa-solid fa-store"></i></h4><br><br><ul class="institucional"><li>REQUISITOS</li><li>INFORMACIÓN LEGAL</li></ul></li><br>
            <li class="uno"><h4>ACERCA DE SHOE-MARKET <i class="fa-solid fa-people-group"><br></i></h4><ul class="institucional"><li>NOSOTROS</li><li>TÉRMINOS Y CONDICIONES</li><li>POLÍTICA DE PRIVACIDAD</li><li>POLÍTICA DE DATOS</li><li>TRABAJA CON NOSOTROS</li></ul></li>
            <li class="uno"><h4>EVENTOS <i class="fa-solid fa-building"></i></h4><br><ul class="institucional"><li>NOSOTROS</li><li>TÉRMINOS Y CONDICIONES</li><li>POLÍTICA DE PRIVACIDAD</li><li>POLÍTICA DE DATOS</li><li>TRABAJA CON NOSOTROS</li></ul></li>

        </ul>               
    </div>

    <div class="social-nets">
      
        <img src="/img/facebook.png" alt="logo-face" width="30">
        <img src="/img/instagram.png" alt="logo-instagram" width="30">
        <img src="/img/twitter.png" alt="logo-twitter" width="30">
        <img src="/img/linkedin.png" alt="logo-twitter" width="30">
        <img src="/img/whatsapp.png" alt="logo-whatsapp" width="30">
            
    </div>

    <div class="credit-cards">
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" >
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" >
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" >
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" >
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" >
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" >

        <img  class="uno" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercarddebit@2x.png " >
        <img  class="uno" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" >
        <img  class="uno" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" >
        <img  class="uno" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" >
        <img  class="uno" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" >
        <img  class="uno" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabaldebit@2x.png" >
       
    </div>

    <div class="td">
        <h5>SHOE MARKET <i class="fa-solid fa-copyright"></i> Todos los derechos reservados</h5>
    </div>      

</footer>