<footer>
            
      

    <div class="footer-mobile">
        <ul class="footer-mobile-list">
            <li class="uno"><h4>SERVICIO AL CLIENTE<i class="fa-solid fa-headphones-simple"></i></h4><br><br><ul class="institucional"><li>MEMBRESÍAS</li><li>CUPONES</li><li>MEDIOS DE PAGO</li><li>GARANTÍAS</li></ul></li><br>
            <li class="uno"><h4>INSTITUCIONAL <i class="fa-solid fa-building"></i></h4><br><br><ul class="institucional"><li>LOCALES</li><li>CONTACTO</li><li>FORMULARIO DE CONTACTO</li></ul></li><br>
            <li class="uno"><h4>AYUDA <i class="fa-solid fa-hand-holding-hand"></i></h4><br><br><ul class="institucional"><li>CAMBIOS Y DEVOLUCIONES</li><li>PREGUNTAS FRECUENTES</li><li>CUIDADO DEL CALZADO</li></ul></li><br>
            <li class="uno"><h4>FRANQUICIAS <i class="fa-solid fa-store"></i></h4><br><br><ul class="institucional"><li>REQUISITOS</li><li>INFORMACIÓN LEGAL</li></ul></li><br>
            <li class="uno"><h4>ACERCA DE SHOE-MARKET <i class="fa-solid fa-people-group"><br></i></h4><ul class="institucional"><li>NOSOTROS</li><li>TÉRMINOS Y CONDICIONES</li><li>POLÍTICA DE PRIVACIDAD</li><li>POLÍTICA DE DATOS</li><li>TRABAJA CON NOSOTROS</li></ul></li>
            <li class="uno"><h4>EVENTOS <i class="fa-solid fa-building"></i></h4><br><ul class="institucional"><li>NOSOTROS</li><li>TÉRMINOS Y CONDICIONES</li><li>POLÍTICA DE PRIVACIDAD</li><li>POLÍTICA DE DATOS</li><li>TRABAJA CON NOSOTROS</li></ul></li>

        </ul>               
    </div>

   

    <div class="social-nets">
      
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-twitter-square"></i>
        <i class="fa-brands fa-instagram-square"></i>
        <i class="fa-brands fa-google-plus-square"></i>     
        <i class="fa-brands fa-linkedin"></i>  
        <i class="fa-brands fa-whatsapp-square"></i>  
        
    </div>

    <div class="td">
        <h5>SHOE MARKET <i class="fa-solid fa-copyright"></i> Todos los derechos reservados</h5>
    </div>      

</footer>