<!-------------------- INICIO HEADER ------------------>
<header class="main-header2">

    <div class="texto2">
        <p><strong>Envío gratis en compras superiores a $2000</strong> <i class="fa-solid fa-truck"></i></p>
    </div>


    <div class="logo-form2">

        <div class="principal-logo2">
            <a class="principal-logo2" href="/"><img src="/Desing/LOGO2.jpg" alt="logo"></a>

        </div>
        <div class="cont-search-nav3">

            <div class="principal-carrito3">

                <nav class="menu__lista">
                    <ul class="cuentaCarrito3">
                        
                        <li><a href="/admin/lista/productos">LISTA DE PRODUCTOS </a>
                        <li><a href="/admin/lista/usuarios">LISTA DE USUARIOS</a></li>
                        <li><a href="/user/login">MI CUENTA</a></li>
                        
                    </ul>

                </nav>
            </div>
        </div>
    </div>



    </div>


</header>
                        <!-------------------------- FIN HEADER -------------------------------> 