<!-------------------- INICIO HEADER ------------------>
<header class="main-header2">

    <div class="texto2">
        <p><strong>Envío gratis en compras superiores a $20000</strong> <i class="fa-solid fa-truck"></i></p>
    </div>


    <div class="logo-form2">

        <div class="principal-logo2">
            <a class="principal-logo2" href="/"><img src="/Desing/LOGO2.jpg" alt="logo"></a>

        </div>
        <div class="cont-search-nav">

            <div class="principal-form-boton2">
                <form class="form-header" action="/search">
                    <input class="input-header" type="text" placeholder="Búsqueda..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="icono-carrito2">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/user/registro"><i class="fa-solid fa-user-plus"></i></a>
                <a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>


            <div class="principal-carrito2">

                <nav class="menu__lista">
                    <ul class="cuentaCarrito2">
                        <li class="lista__categorias">Categorias <i class="fa-solid fa-circle-arrow-down"></i>
                            <ul class="lista__productos">
                                <li class="lista__productos_li"><a href="/productos/Bucaneras">Bucaneras </a></li>
                                <li class="lista__productos_li"><a href="/productos/Borcegos">Borcegos </a></li>
                                <li class="lista__productos_li"><a href="/productos/Botas">Botas </a></li>
                                <li class="lista__productos_li"><a href="/productos/Texanas">Texanas </a></li>
                                <li class="lista__productos_li"><a href="/productos/Guillerminas">Guillerminas </a></li>
                                <li class="lista__productos_li"><a href="/productos/Gift Card">Gift-Card </a></li>
                            </ul>
                        </li>
                        <li><a href="/productos">Productos</a><i class="fa-brands fa-product-hunt"></i></li>

                        <li><a href="/carrito">Carrito</a><i class="fa-solid fa-cart-shopping"></i></li>

                        <% if (locals.isLogged) { %>
                            <li class="lista__profile">Hola <%= locals.userLogged.nombre %> ▼
                                    <ul class="lista__profile-down">
                                        <li class="lista__profile-li" v><a href="/user/profile">Mi Perfil</a></li>
                                        <li class="lista__profile-li"><a href="/user/logout">logout</a></li>
                                    </ul>
                            </li>
                            <% } else { %>
                                <li><a href="/user/registro">Registrarse</a><i class="fa-solid fa-user-plus"></i></li>
                                <li><a href="/user/login">Iniciar Sesion</a><i class="fa-solid fa-right-to-bracket"></i>
                                </li>
                                <% } %>
                    </ul>
            </div>
        </div>
    </div>


    <div class="menu2">
        <nav class="nav-header2">



        </nav>
    </div>

    </div>


</header>