             <!-------------------- INICIO HEADER ------------------>
             <header class="main-header">
        
                <div class="texto">
                    <p><strong>Envío gratis en compras superiores a $2000</strong> <i class="fa-solid fa-truck"></i></p>
                </div>
                
                <div class="principal">
        
        
                    <div class="principal-form-logo">
                        <a href="/"><img src = "/Desing/LOGO2.jpg" alt="logo" ></a>
                        
                    </div>    
        
                    <div class="principal-form-boton">
                        <form action="/action_page.php" >
                          <input type="text" placeholder="Búsqueda..." name="search">
                          <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
        
                    
                    <div class="icono-carrito">
                        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="/registro"><i class="fa-solid fa-user-plus"></i></a>
                        <a href="#"><i class="fa-solid fa-bars" ></i></a>
                        
                        
                    </div>
        
        
                    <div class="principal-carrito">        
                   
                            <nav>                             
                                 <ul class="cuentaCarrito">
                                     <li><a href="/registro">REGISTRARSE</a><i class="fa-solid fa-user-plus"></i></li>
                                     <li><a href="/login">INICIAR SESIÓN</a><i class="fa-solid fa-right-to-bracket"></i></li>
                                     <li><a href="/carrito">CARRITO</a><i class="fa-solid fa-cart-shopping"></i></li>
                                </ul>                                  
                                         
                              </nav>   
                    </div>                               
                     
        
        
                    <div class="menu">
                        <nav>                              
                           
                             <ul class="menus">
                                <li><a href="#New Arrivals">NEW ARRIVALS </a></li>
                                <li><a href="#Borcegos">BORCEGOS </a></li>
                                <li><a href="#Botas">BOTAS </a></li>
                                <li><a href="#Texanas">TEXANAS </a></li>
                                <li><a href="#SALES">SALES </a></li> 
                                
                            </ul>                        
        
                        </nav>                                        
                    </div>
        
                </div> 
              
        
            </header>
                        <!-------------------------- FIN HEADER -------------------------------> 