<!-------------------- INICIO HEADER ------------------>
<header class="main-header2">

    <div class="texto2">
        <p><strong>Envío gratis en compras superiores a $20000</strong> <i class="fa-solid fa-truck"></i></p>
    </div>


    <div class="logo-form2">

        <div class="principal-logo2">
            <a class="principal-logo2" href="/"><img src="/Desing/LogoV.png" alt="logo"></a>

        </div>
        <div class="cont-search-nav">

            <div class="principal-form-boton2">
                <form class="form-header " action="/search">
                    <input class="input-header" type="text" placeholder="Búsqueda..." name="search">
                    <div class="label-relative">

                        <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="icono-carrito2">
                <a class="label-relative" href="/carrito"><i class="fa-solid fa-cart-shopping"></i> <p class="cart-p cart-none"></p></a>
                <% if (locals.isAdmin) { %>
                    <a href="/admin"><i class="fa-solid fa-lock"></i></a>
                    <% } %>
                        <% if (locals.isLogged) { %>
                            <a class="initials" href="/user/profile"><span>
                                    <%= locals.userLogged.first_name[0].toUpperCase() +
                                        locals.userLogged.last_name[0].toUpperCase() %>
                                </span></a>


                            <% } else { %>
                                <a href="/user/registro"><i class="fa-solid fa-user-plus"></i></a>
                                <a href="/user/login"><i class="fa-solid fa-user"></i></a>
                                <% } %>

                                    <div class="burguer-container">
                                        <a class="burguer" href="#"> <i class="fa-solid fa-bars"></i></a>


                                        <% if (locals.isLogged) { %>
                                            <ul class="none burguer-list">
                                                <li class="lista_burger"><a href="/productos">Productos</a> </li>
                                                <li class="lista_burger"><a href="/user/profile">Mi perfil</a></li>
                                                <li class="lista_burger"><a href="/user/logout">logout</a></li>
                                            </ul>

                                            <% } else { %>

                                                <ul class="none burguer-list">
                                                    <li class="lista_burger"><a href="/productos">Productos</a> </li>
                                                    <li class="lista_burger"><a href="/user/login">Login</li>
                                                    <li class="lista_burger"> <a href="/user/registro">Registro</li>
                                                </ul>
                                                <% } %>
                                    </div>
            </div>


            <div class="principal-carrito2">

                <nav class="menu__lista">
                    <ul class="cuentaCarrito2">
                        <li class="lista__categorias">Categorias <i class="fa-solid fa-circle-arrow-down"></i>
                            <ul class="lista__productos">
                                <li class="lista__productos_li"><a href="/productos/2">Bucaneras </a></li>
                                <li class="lista__productos_li"><a href="/productos/1">Borcegos </a></li>
                                <li class="lista__productos_li"><a href="/productos/4">Botas </a></li>
                                <li class="lista__productos_li"><a href="/productos/6">Texanas </a></li>
                                <li class="lista__productos_li"><a href="/productos/3">Guillerminas </a></li>
                                <li class="lista__productos_li"><a href="/productos/5">Gift-Card </a></li>
                            </ul>
                        </li>
                        <li><a href="/productos">Productos</a><i class="fa-brands fa-product-hunt"></i></li>

                        <li class="boton-carrito label-relative" ><a  href="/carrito"  >Carrito</a><i class="fa-solid fa-cart-shopping"></i><span class="cart-p-xl cart-none">gd</span> </li>
                        <% if (locals.isAdmin) { %>
                            <li class="lista__profile"><a href="/admin">Admin</a> <i class="fa-solid fa-lock"></i>
                                <ul class="lista__profile-down__admin">
                                    <li class="lista__profile-li" v><a href="/admin">Panel del control</a></li>
                                    <li class="lista__profile-li"><a href="/admin/lista/usuarios">Usuarios activos</a>
                                    </li>
                                    <li class="lista__profile-li"><a href="/admin/lista/usuariosinactivos">Usuarios
                                            inactivos</a></li>
                                    <li class="lista__profile-li"><a href="/admin/lista/productos">Productos activos</a>
                                    </li>
                                    <li class="lista__profile-li"><a href="/admin/lista/productosinactivos">Productos
                                            inactivos</a></li>
                                    <li class="lista__profile-li"><a href="/admin/productos/crear">Carga de
                                            productos</a></li>
                                    <li class="lista__profile-li"><a href="/user/profile">Mi perfil</a></li>
                                </ul>
                            </li>
                            <% } %>
                                <% if (locals.isLogged) { %>
                                    <li class="lista__profile">Hola <span class="initials">
                                            <%= locals.userLogged.first_name[0].toUpperCase() +
                                                locals.userLogged.last_name[0].toUpperCase() %>
                                        </span>▼
                                        <ul class="lista__profile-down">
                                            <li class="lista__profile-li" v><a href="/user/profile">Mi Perfil <img
                                                        src="/img/user/<%=locals.userLogged.image%>" alt=""></a>
                                            </li>
                                            <li class="lista__profile-li"><a href="/user/logout">logout</a></li>

                                        </ul>
                                    </li>
                                    <% } else { %>
                                        <li><a href="/user/registro">Registrarse</a><i
                                                class="fa-solid fa-user-plus"></i></li>
                                        <li><a href="/user/login">Iniciar Sesion</a><i
                                                class="fa-solid fa-right-to-bracket"></i>
                                        </li>
                                        <% } %>
                    </ul>
            </div>
        </div>
    </div>


    <div class="menu2">
        <nav class="nav-header2">



        </nav>
    </div>

    </div>

    <script src="/js/header.js"></script>
</header>