.cardHome{
    width: 65%;
    margin: 15px;
    border-radius: 15px;
    text-align: left;
    background-color: white;
    padding-left: 15px;
}

.cardHome-link{
    text-decoration: none;
}
.cardHome-link:hover{
    color: #98092f

}

.loading{
    margin-top: 30px;
    
}
.cardHome-title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cardHome-quantity{
    font-size: 15px;
    font-weight: bold;
    color:#443c3c
    

}
.cardUser-img{
    width: 50%
}
.cardUser-link{
    width: 500px;
    text-decoration: none;
    color: #443c3c;
}

.cardUser-link:hover{
    color: none
    
}

.cardUser-container{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 40px;
    padding: 20px;
    text-align: center;

}
.cardUser-btn{
    border-radius: 10px;
    border: 0.5px solid #936d19
    
}
.cardUser-btn:hover{
    background-color: #936d19;
    color: white;
}
.cardProduct-btn{
    border-radius: 10px;
    border: 0.5px solid #476397
}
.cardProduct-btn:hover{
    background-color: #476397;
    color: white;
}
.cardUser-info{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}
.cardUser-title{
    font-weight: bold;
    font-size: 20px;
    
}
.cardHome-btn{
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 15px;
    border: 0.5px solid #476397
}
.div-card-btn{
    justify-content: space-between;
}
.cardHome-btn-link {
    color: black;
    text-decoration: none;

}
.cardHome-btn-link:hover {
   color: none;
    
}


.cardHome-btn:hover{
    
    color: white;
}






@media(min-width:576px) {
   

}
@media(min-width:768px) {
    .cardHome{
        width: 30%;
    }
    .cardUser-container{
        width: 48%;
    }
   
}
    @media(min-width:998px) {
       

    

}