<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>

    <main class="main-carrito">
        <div class="primer-parte-carrito">
            <section class="art-productos">
                <h3 class="nombreproductocarrito">Borcego LARA negro 36</h3>
                <div class="productos-carrito">

                    <article class="producto-carrito">

                        <img class="prod-carr__img" src="img/londonNegro.jpeg" alt="PRODUCTO1">
                        <div class="prod-carr__precio">$20000</div>
                        <button class="prod-carr__logomas"><i class="fa-solid fa-minus"></i></button>
                        <div class="prod-carr__cantidad">1</div>
                        <button class="prod-carr__logomenos"><i class="fa-solid fa-plus"></i></button>

                    </article>
                </div>

                <div class="eliminar-carr"><button class="eliminar-carr__boton"><i class="fa-solid fa-trash-can"></i>
                        Eliminar</button></div>



            </section>


            <section class="art-productos">
                <h3 class="nombreproductocarrito">Borcego TIZI negro 36</h3>
                <div class="productos-carrito">

                    <article class="producto-carrito">

                        <img class="prod-carr__img" src="img/laraNegro.jpeg" alt="PRODUCTO1">
                        <div class="prod-carr__precio">$25000</div>
                        <button class="prod-carr__logomas"><i class="fa-solid fa-minus"></i></button>
                        <div class="prod-carr__cantidad">1</div>
                        <button class="prod-carr__logomenos"><i class="fa-solid fa-plus"></i></button>

                    </article>
                </div>

                <div class="eliminar-carr"><button class="eliminar-carr__boton"><i class="fa-solid fa-trash-can"></i>
                        Eliminar</button></div>


            </section>
        </div>
        </article>


        <div class="resumen-de-compra">
            <article class="resumencarrito">
                <h2 class="title-resumen">Resumen de compra</h2>

                <p class="cupon-descuento__text">Cupon de descuento</p>
                <div class="descuento-flex">

                    <form class="cupon-descuento__form" method="POST" action="/busqueda">

                        <div class="cont-cupon">

                            <label for="cupon"></label>
                            <input type="text" name="cupon" placeholder="Ingrese su codigo">
                            <button type="submit" class="cupon-descuento__boton">Usar Cupon</button>


                        </div>

                    </form>



                </div>



            </article>

            <article class="fin-compra">

                <div class="contenedor-precios">
                    <div class="contenedor-sub">
                        <div class="contenedor-sub__text">Subtotal</div>
                        <div class="contenedor-sub__text">$45.000</div>
                    </div>



                    <div class="contenedor-total">
                        <div class="contenedor-total__text">Total</div>
                        <div class="contenedor-total__price">  $45.000</div>

                    </div>

                </div>

                <div class="boton-finalizar">
                    <div><button class="boton-finalizar__terminar">Finalizar compra</button></div>
                    <div><BUTton class="boton-finalizar__seguir">Seguir comprando</BUTton></div>


                </div>

        </div>

        </article>

        <div class="help-button">
            <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
          </div>


    </main>
    <%- include("./partials/footer") %>
</body>

</html>