<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/82d69982a4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
    <title>Descripcion del producto</title>
</head>

<body>
    <!-------------------- INICIO HEADER ------------------>
    <header class="main-header">

        <div class="texto">
            <h4>Envío gratis en compras superiores a $2000</h4>
        </div>

        <div class="principal">


            <div class="principal-form-logo">
                <img src="/Desing/LOGO2.jpg" alt="logo">
            </div>

            <div class="principal-form-boton">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="principal-carrito">

                <nav>
                    <ul class="cuentaCarrito">
                        <li><a href="/">INICIO</a></li>
                        <li><a href="#">CUENTA</a></li>
                        <li><a href="#">CARRITO</a></li>
                        <li><img src="/img/cart-shopping-solid.svg" alt="logo"></li>
                    </ul>

                </nav>
            </div>

        </div>

        <div class="menu-hamburguesa">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>






        <div class="menu">
            <nav>

                <ul class="menus">
                    <li><a href="#New Arrivals">NEW ARRIVALS </a></li>
                    <li><a href="#Borcegos">BORCEGOS </a></li>
                    <li><a href="#Botas">BOTAS </a></li>
                    <li><a href="#Texanas">TEXANAS </a></li>
                    <li><a href="#SALES">SALES </a></li>
                    <li><a href="#Teniss">TENIS </a></li>
                    <li><a href="#Teniss">MARCAS </a></li>

                </ul>

            </nav>
        </div>


    </header>
    <!-------------------------- FIN HEADER ------------------------------->


    <main class="main-carrito">
        <div class="primer-parte-carrito">
            <section class="art-productos">
                <h3 class="nombreproductocarrito">Borcego LARA negro 36</h3>
                <div class="productos-carrito">

                    <article class="producto-carrito">

                        <img class="prod-carr__img" src="img/LARA.jpeg" alt="PRODUCTO1">
                        <div class="prod-carr__precio">$20000</div>
                        <button class="prod-carr__logomas"><i class="fa-solid fa-minus"></i></button>
                        <div class="prod-carr__cantidad">1</div>
                        <button class="prod-carr__logomenos"><i class="fa-solid fa-plus"></i></button>

                    </article>
                </div>

                <div class="eliminar-carr"><button class="eliminar-carr__boton"><i class="fa-solid fa-trash-can"></i>
                        Eliminar</button></div>



            </section>


            <section class="art-productos">
                <h3 class="nombreproductocarrito">Borcego TIZI negro 36</h3>
                <div class="productos-carrito">

                    <article class="producto-carrito">

                        <img class="prod-carr__img" src="img/TIZI.jpeg" alt="PRODUCTO1">
                        <div class="prod-carr__precio">$25000</div>
                        <button class="prod-carr__logomas"><i class="fa-solid fa-minus"></i></button>
                        <div class="prod-carr__cantidad">1</div>
                        <button class="prod-carr__logomenos"><i class="fa-solid fa-plus"></i></button>

                    </article>
                </div>

                <div class="eliminar-carr"><button class="eliminar-carr__boton"><i class="fa-solid fa-trash-can"></i>
                        Eliminar</button></div>


            </section>
        </div>
        </article>


        <div class="resumen-de-compra">
            <article class="resumencarrito">
                <h2 class="title-resumen">Resumen de compra</h2>

                <p class="cupon-descuento__text">Cupon de descuento</p>
                <div class="descuento-flex">

                    <form class="cupon-descuento__form" method="POST" action="/busqueda">

                        <div class="cont-cupon">

                            <label for="cupon"></label>
                            <input type="text" name="cupon" placeholder="Ingrese su codigo">
                            <button type="submit" class="cupon-descuento__boton">Usar Cupon</button>


                        </div>

                    </form>



                </div>



            </article>

            <article class="fin-compra">

                <div class="contenedor-precios">
                    <div class="contenedor-sub">
                        <div class="contenedor-sub__text">Subtotal</div>
                        <div class="contenedor-sub__price">$45.000</div>
                    </div>



                    <div class="contenedor-total">
                        <div class="contenedor-total__text">Total</div>
                        <div class="contenedor-total__price">$45.000</div>

                    </div>

                </div>

                <div class="boton-finalizar">
                    <div><button class="boton-finalizar__terminar">TERMINAR COMPRA</button></div>
                    <div><BUTton class="boton-finalizar__seguir">seguir comprando</BUTton></div>


                </div>

        </div>

        </article>



    </main>
    <footer>


        <!-- <div class="cuotas">
            <div class="cuotas-pagos">
               
                <img src = "/img/vestuario.gif" alt="logo" >
                <h3>COLECCIÓN</h3>
              <h3>Ver todo</h3>
            </div>
            
           
            <div class="cuotas-pagos">
                <img src = "/img/edificio.gif" alt="logo" >
                <h3>INSTITUCIONAL</h3>
                <ul>
                    <li>Locales</li>
                    <li>Contacto</li>
                    <li>Formulario de Contacto</li>
                    <li>Franquicias</li>
                    <li>Trabaja con nosotros</li>
                   
                </ul>

            </div>

            <div class="cuotas-pagos">
                <img src = "/img/apoyo.gif" alt="logo" >
                <h3>AYUDA</h3>
                <ul>
                    <li>Cambios y Devoluciones</li>
                    <li>Preguntas frecuentes</li>
                    <li>Cuidado del calzado</li>
                    <li>Guía de tallas</li>
                </ul>
            </div>

            <div class="cuotas-pagos">
                <img src = "/img/redes-sociales.gif" alt="logo" >
                <h3>REDES</h3>
                <ul>
                    <li> FACEBOOK<i class="fa-brands fa-facebook-square"></i></li>
                    <li>INSTAGRAM <i class="fa-brands fa-instagram-square"></i> </li>
                    <li>TWITER <i class="fa-brands fa-twitter"></i> </li>
                    <li>LINKEDIN  <i class="fa-brands fa-linkedin"></i> </li>
                </ul>
                
            </div>

        </div>   -->

        <div class="footer-mobile">
            <ul class="footer-mobile-list">
                <li>LOCALES <i class="fa-solid fa-caret-down"></i></li><br>
                <li>CONTACTO <i class="fa-solid fa-caret-down"></i></li><br>
                <li>PROMOCIONES <i class="fa-solid fa-caret-down"></i></li><br>
                <li>FRANQUICIAS <i class="fa-solid fa-caret-down"></i></li><br>
                <li>TRABAJA CON NOSOTROS <i class="fa-solid fa-caret-down"></i></li>
            </ul>
        </div>

        <div class="social-nets">

            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-google-plus-square"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-whatsapp-square"></i>

        </div>

        <div class="td">
            <h5>SHOE MARKET <i class="fa-solid fa-copyright"></i> Todos los derechos reservados</h5>
        </div>







    </footer>
</body>

</html>