<%- include("./partials/head") %>
<%- include("./partials/header") %>

<body>
   

<!-- *****************************INICIO MAIN****************************************** -->
    
   <main>
       
    
        <!-- <section class="section1">
            <div class="main-section-video">
            
                <video autoplay loop muted width="100%"> 
                    <source  src="https://player.vimeo.com/progressive_redirect/playback/686324588/rendition/720p?loc=external&signature=d6b9e6986b56478f7ab61ca9479464a10d79f4f600bf950c804fe828697f1cce"   playsinline type="video/mp4"  />
                    No se puede reproducir el video
                </video>               

            </div>
        </section> -->

        <section class="section-destacados">
            <h3>DESTACADOS</h3>
            <div class="productos">
                <div class="produc"><img src="/img/SashaNegro.jpeg" alt="bota"> <p>Sasha Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/maddyNegro.jpeg" alt="bota"> <p>Maddy Negro</p><p>$42.000</p><a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/laraNegro.jpeg" alt="bota"> <p>Lara Negro</p><p>$42.000</p><a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/maddyRojo.jpeg" alt="bota"> <p>Maddy Rojo</p><p>$42.000</p><a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/maddyRojo.jpeg" alt="bota"> <p>Maddy Rojo</p><p>$42.000</p><a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/maddyRojo.jpeg" alt="bota"> <p>Maddy Rojo</p><p>$42.000</p><a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                
            </div>
        </section>


        <section class="section3">
            <video autoplay loop muted width="100%" > 
                <source  src="https://player.vimeo.com/progressive_redirect/playback/686324588/rendition/720p?loc=external&signature=d6b9e6986b56478f7ab61ca9479464a10d79f4f600bf950c804fe828697f1cce"   playsinline type="video/mp4"  />
                No se puede reproducir el video
            </video>               
    
        </section>

      <section>
        <h3>PROMOCIONES</h3>
            <div class="productos">
                <div class="produc"><img src="/img/dianaNegro.jpeg" alt="bota"> <p>Diana Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/maddyNegro.jpeg" alt="bota"> <p>Maddy Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/maddyCrema.jpeg" alt="bota"> <p>Maddy Crema</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/londonNegro.jpeg" alt="bota"> <p>London Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/londonNegro.jpeg" alt="bota"> <p>London Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/londonNegro.jpeg" alt="bota"> <p>London Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
            </div>
          
      </section>


      <section class="section5">
        <video autoplay loop muted width="100%" > 
            <source  src="https://player.vimeo.com/progressive_redirect/playback/686324588/rendition/720p?loc=external&signature=d6b9e6986b56478f7ab61ca9479464a10d79f4f600bf950c804fe828697f1cce"   playsinline type="video/mp4"  />
            No se puede reproducir el video
        </video>        
    </section>


      <section>
        <h3>BOTAS</h3>
            <div class="productos">
                <div class="produc"><img src="/img/SashaNegro.jpeg" alt="bota"> <p>Sasha Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/dianaBlanco.jpeg" alt="bota"> <p>Diana Blanco</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/dianaNegro.jpeg" alt="bota"> <p>Diana negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/rianneNegro.jpeg" alt="bota"> <p>Rianne Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/rianneNegro.jpeg" alt="bota"> <p>Rianne Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                <div class="produc"><img src="/img/rianneNegro.jpeg" alt="bota"> <p>Rianne Negro</p><p>$42.000</p> <a href="/descripcion" class="com-but-main"><p></p><strong>COMPRAR</strong></p></a><i class="fa-solid fa-star"></i></div>
                
            </div>
          
      </section>
   
      <div class="news-letter">
          <h2>Suscribite a nuestro newsletter</h2>
          <form>
            <input type="email" placeholder="Ingresa tu e-mail">
           <button><i class="fa-solid fa-arrow-right"></i></button>
          </form>

      </div>

        <div class="help-button">
          <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
        </div>

    </main>

<!-- ********************************FIN MAIN***************************************** -->
<%- include("./partials/footer") %>
    
</body>
</html>