<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet"> <!--tipografía -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--ícono de búsqueda -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0b01d51a5.js" crossorigin="anonymous"></script> <!--para íconos de  fontawesome-->
    <title>Shoe Market</title>
</head>

<body>
    
    <header>
        <div class="texto">
            <h4>Envío gratis en compras superiores a $2000</h4>
        </div>
        
        <div class="principal">
            <div class="logo">
                <img src = "/Desing/LOGO.jpeg" alt="logo" >
            </div>        
            
            <div class="form">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>     
            
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="#New Arrivals">New Arrivals</a></li>
                        <li><a href="#Borcegos">Borcegos</a></li>
                        <li><a href="#Botas">Botas</a></li>
                        <li><a href="#Texanas">Texanas</a></li>
                        <li><a href="#Plataformas">Plataformas</a></li>
                        <li><a href="#Sale">Sale</a></li>
                    </ul>
                </div>
            </nav>

            <div class="cuenta">
                <ul>
                    <li><a href="#">Cuenta</a></li>
                    <li><a href="#">Carrito de compras</a></li>
                    <li><i class="fa-solid fa-cart-shopping"></i>
                </ul>
                
            </div>
                            
        </div>

    </header>


    <main>
        Acá va el main
    </main>


    <footer>
     
        <div class="cuotas">
            <div class="cuotas-pagos">
                <!-- <i class="fa-solid fa-credit-card"></i> -->
                <img src = "/img/pago.gif" alt="logo" >
                <h6>Cuotas y Formas de Pago</h6>
                <p>Cuotas sin interés con Visa, Mastercard También puedes abonar con Mercado Pago o Winbond.</p>
            </div>
            
            <div class="cuotas-pagos">
                <img src = "/img/envio.gif" alt="logo" >
                <h6>Tiempos de entrega</h6>
                <p>Envíos en el mismo día en local y 5 días al interior. También puedes retirar tu pedido en locales</p>
            
            </div>

            <div class="cuotas-pagos">
                <img src = "/img/envio.gif" alt="logo" >
                <h6>Tiempos de entrega</h6>
                <p>Envíos en el mismo día en local y 5 días al interior. También puedes retirar tu pedido en locales</p>
            </div>

            <div class="cuotas-pagos">
                <img src = "/img/envio.gif" alt="logo" >
                <h6>Tiempos de entrega</h6>
                <p>Envíos en el mismo día en local y 5 días al interior. También puedes retirar tu pedido en locales</p>
            </div>

            

           
        </div>
      
        <div class="coleccion">
            yes 
        </div>
         

           
        

    </footer>
</body>
</html>