<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet"> <!--tipografía -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--ícono de búsqueda -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0b01d51a5.js" crossorigin="anonymous"></script> <!--para íconos de  fontawesome-->
    <title>Shoe Market</title>
</head>

<body>
                <!-------------------- INICIO HEADER ------------------>
    <header class="main-header">
        
        <div class="texto">
            <h4>Envío gratis en compras superiores a $2000</h4>
        </div>
        
        <div class="principal">


            <div class="principal-form-logo">
                <img src = "/Desing/LOGO2.jpg" alt="logo" >
            </div>    

            <div class="principal-form-boton">
                <form action="/action_page.php" >
                  <input type="text" placeholder="Search..." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="principal-carrito">        
           
                    <nav>                             
                         <ul class="cuentaCarrito">
                             <li><a href="#">CUENTA</a></li>
                             <li><a href="#">CARRITO</a></li>
                             <li><img src = "/img/cart-shopping-solid.svg" alt="logo" ></li>
                         </ul>                                  
                                 
                      </nav>   
            </div>                               

        </div>     

            <div class="menu-hamburguesa">
                <a href="#"><i class="fa-solid fa-bars" ></i></a>
            </div>
            
          

           


            <div class="menu">
                <nav>                              
                   
                     <ul class="menus">
                        <li><a href="#New Arrivals">NEW ARRIVALS </a></li>
                        <li><a href="#Borcegos">BORCEGOS </a></li>
                        <li><a href="#Botas">BOTAS </a></li>
                        <li><a href="#Texanas">TEXANAS </a></li>
                        <li><a href="#SALES">SALES </a></li> 
                        
                    </ul>                        

                </nav>                                        
            </div>
      

    </header>
                <!-------------------------- FIN HEADER -------------------------------> 

<!-- *****************************INICIO MAIN****************************************** -->
    
   <main>
        <section>
            <div>
                <video   width ="220" height="190"   autoplay="autoplay" loop="loop" > 
                  <source  src="https://placehold.co/1920x1080.mp4" type="video/mp4" />
                    No se puede reproducir el video
                </video>

                <!-- <img src="zapatos2.jpg" alt="zapato" width="100%" >  -->

            </div>
        </section>

        <section>
            <h3>DESTACADOS</h3>
            <div class="productos">
                <div class="produc"><img src="https://api.lorem.space/image/shoes?w=150&h=190" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
                <div class="produc"><img src="https://api.lorem.space/image/shoes?w=150&h=190" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p></div>
                <div class="produc"><img src="https://api.lorem.space/image/shoes?w=150&h=190" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p></div>
                <div class="produc"><img src="https://api.lorem.space/image/shoes?w=150&h=190" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p></div>
            </div>
        </section>


        <section>
            <video  width ="320" height="150"  poster="LOGO.jpeg"  autoplay loop muted > 
                <source src="max.mp4" type="video/mp4">
            </video>          
        </section>

      <section>
        <h3>PROMOCIONES</h3>
            <div class="productos">
                <div class="produc"><img src="https://placeimg.com/150/190/tech/grayscale" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
                <div class="produc"><img src="https://placeimg.com/150/190/tech/grayscale" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
                <div class="produc"><img src="https://placeimg.com/150/190/tech/grayscale" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
                <div class="produc"><img src="https://placeimg.com/150/190/tech/grayscale" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
            </div>
          
      </section>


      <section>
        <video  width ="320" height="150"  poster="LOGO.jpeg"  autoplay loop muted > 
            <source src="max.mp4" type="video/mp4">
        </video>          
    </section>


      <section>
        <h3>MARCAS</h3>
            <div class="productos">
                <div class="produc"><img src="https://placeimg.com/150/190/animals/grayscale" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
                <div class="produc"><img src="https://placeimg.com/150/190/animals/grayscale" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
                <div class="produc"><img src="https://placeimg.com/150/190/animals/grayscale" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
                <div class="produc"><img src="https://placeimg.com/150/190/animals/grayscale" alt="bota"> <p>Bota xx</p><p>$42.000</p><p><strong>COMPRAR</strong></p><p><img src="bueno.gif" alt="bueno" class="produc_img_bueno"></p></div>
            </div>
          
      </section>
   

    </main>

<!-- ********************************FIN MAIN***************************************** -->

    <footer>
            
        <!-- <div class="cuotas">
            <div class="cuotas-pagos">
               
                <img src = "/img/vestuario.gif" alt="logo" >
                <h3>COLECCIÓN</h3>
              <h3>Ver todo</h3>
            </div>
            
           
            <div class="cuotas-pagos">
                <img src = "/img/edificio.gif" alt="logo" >
                <h3>INSTITUCIONAL</h3>
                <ul>
                    <li>Locales</li>
                    <li>Contacto</li>
                    <li>Formulario de Contacto</li>
                    <li>Franquicias</li>
                    <li>Trabaja con nosotros</li>
                   
                </ul>

            </div>

            <div class="cuotas-pagos">
                <img src = "/img/apoyo.gif" alt="logo" >
                <h3>AYUDA</h3>
                <ul>
                    <li>Cambios y Devoluciones</li>
                    <li>Preguntas frecuentes</li>
                    <li>Cuidado del calzado</li>
                    <li>Guía de tallas</li>
                </ul>
            </div>

            <div class="cuotas-pagos">
                <img src = "/img/redes-sociales.gif" alt="logo" >
                <h3>REDES</h3>
                <ul>
                    <li> FACEBOOK<i class="fa-brands fa-facebook-square"></i></li>
                    <li>INSTAGRAM <i class="fa-brands fa-instagram-square"></i> </li>
                    <li>TWITER <i class="fa-brands fa-twitter"></i> </li>
                    <li>LINKEDIN  <i class="fa-brands fa-linkedin"></i> </li>
                </ul>
                
            </div>

        </div>   -->

        <div class="footer-mobile">
            <ul class="footer-mobile-list">
                <li>LOCALES <i class="fa-solid fa-caret-down"></i></li><br>
                <li>CONTACTO <i class="fa-solid fa-caret-down"></i></li><br>
                <li>PROMOCIONES <i class="fa-solid fa-caret-down"></i></li><br>
                <li>FRANQUICIAS <i class="fa-solid fa-caret-down"></i></li><br>
                <li>TRABAJA CON NOSOTROS <i class="fa-solid fa-caret-down"></i></li>
            </ul>               
        </div>

        <div class="social-nets">
          
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-google-plus-square"></i>     
            <i class="fa-brands fa-linkedin"></i>  
            <i class="fa-brands fa-whatsapp-square"></i>  
            
        </div>

        <div class="td">
            <h5>SHOE MARKET <i class="fa-solid fa-copyright"></i> Todos los derechos reservados</h5>
        </div>      

    </footer>
</body>
</html>