<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
    <title>Log in</title>
</head>
<body>
    
    <header>

        <div class="texto">
            <h4>Envío gratis en compras superiores a $2000</h4>
        </div>
        
        <div class="principal">
            <div class="logo">
                <img src = "/Desing/LOGO.jpeg" alt="logo" >
            </div>        
            
            <div class="form">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>     
            
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="#New Arrivals">New Arrivals</a></li>
                        <li><a href="#Borcegos">Borcegos</a></li>
                        <li><a href="#Botas">Botas</a></li>
                        <li><a href="#Texanas">Texanas</a></li>
                        <li><a href="#Plataformas">Plataformas</a></li>
                        <li><a href="#Sale">Sale</a></li>
                    </ul>
                </div>
            </nav>

            <div class="cuenta">
                <ul>
                    <li><a href="#">Cuenta</a></li>
                    <li><a href="#">Carrito de compras</a></li>
                    <li><i class="fa-solid fa-cart-shopping"></i>
                </ul>
                
            </div>
                            
        </div>

    </header>
    <main></main>
    <footer></footer>
</body>
</html>