<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet"> <!--tipografía -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--ícono de búsqueda -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0b01d51a5.js" crossorigin="anonymous"></script> <!--para íconos de  fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script src="https://player.vimeo.com/api/player.js"></script>
    <title>Shoe Market</title>
</head>

<body>
                <!-------------------- INICIO HEADER ------------------>
    <header class="main-header">
        
        <div class="texto">
            <p><strong>Envío gratis en compras superiores a $2000</strong></p>
        </div>
        
        <div class="principal">


            <div class="principal-form-logo">
                <a href="/"><img src = "/Desing/LOGO2.jpg" alt="logo" ></a>
                
            </div>    

            <div class="principal-form-boton">
                <form action="/action_page.php" >
                  <input type="text" placeholder="Búsqueda..." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            
            <div class="icono-carrito">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/registro"><i class="fa-solid fa-user-plus"></i></a>
                <a href="#"><i class="fa-solid fa-bars" ></i></a>
                
                
            </div>


            <div class="principal-carrito">        
           
                    <nav>                             
                         <ul class="cuentaCarrito">
                             <li><a href="/registro">REGISTRARSE</a><i class="fa-solid fa-user-plus"></i></li>
                             <li><a href="/login">INICIAR SESIÓN</a><i class="fa-solid fa-right-to-bracket"></i></li>
                             <li><a href="/carrito">CARRITO</a><i class="fa-solid fa-cart-shopping"></i></li>
                        </ul>                                  
                                 
                      </nav>   
            </div>                               
             


            <div class="menu">
                <nav>                              
                   
                     <ul class="menus">
                        <li><a href="#New Arrivals">NEW ARRIVALS </a></li>
                        <li><a href="#Borcegos">BORCEGOS </a></li>
                        <li><a href="#Botas">BOTAS </a></li>
                        <li><a href="#Texanas">TEXANAS </a></li>
                        <li><a href="#SALES">SALES </a></li> 
                        
                    </ul>                        

                </nav>                                        
            </div>

        </div> 
      

    </header>
                <!-------------------------- FIN HEADER -------------------------------> 

    
    
    
                <main class="main-login">
                    <section class="section-login">
            
            
                        <form action="/" method="POST" class="form-login">
            
                            <div class="usuario">
            
                                <div class="usuario__nombre">
                                    <label for="name"></label>
                                    <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" required minlength="4">
            
                                </div>
                                <div class="usuario__pass">
                                    <label for="password"></label>
                                    <input type="password" name="nombre" id="nombre" placeholder="Contraseña" required minlength="4"> 
            
                                </div>
            
                            </div>
            
            
                            <div class="section-login__button">
            
                                <button class="button-login" type="submit">Enviar</button>
            
                            </div>
            
            
                        </form>
                    </section>
            
                    <div class="help-button">
                        <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                      </div>
            

                </main>
    <footer>

        <!-- <div class="cuotas">
            <div class="cuotas-pagos">
               
                <img src = "/img/vestuario.gif" alt="logo" >
                <h3>COLECCIÓN</h3>
              <h3>Ver todo</h3>
            </div>
            
           
            <div class="cuotas-pagos">
                <img src = "/img/edificio.gif" alt="logo" >
                <h3>INSTITUCIONAL</h3>
                <ul>
                    <li>Locales</li>
                    <li>Contacto</li>
                    <li>Formulario de Contacto</li>
                    <li>Franquicias</li>
                    <li>Trabaja con nosotros</li>
                   
                </ul>

            </div>

            <div class="cuotas-pagos">
                <img src = "/img/apoyo.gif" alt="logo" >
                <h3>AYUDA</h3>
                <ul>
                    <li>Cambios y Devoluciones</li>
                    <li>Preguntas frecuentes</li>
                    <li>Cuidado del calzado</li>
                    <li>Guía de tallas</li>
                </ul>
            </div>

            <div class="cuotas-pagos">
                <img src = "/img/redes-sociales.gif" alt="logo" >
                <h3>REDES</h3>
                <ul>
                    <li> FACEBOOK<i class="fa-brands fa-facebook-square"></i></li>
                    <li>INSTAGRAM <i class="fa-brands fa-instagram-square"></i> </li>
                    <li>TWITER <i class="fa-brands fa-twitter"></i> </li>
                    <li>LINKEDIN  <i class="fa-brands fa-linkedin"></i> </li>
                </ul>
                
            </div>

        </div>   -->

      
            
      

            <div class="footer-mobile">
                <ul class="footer-mobile-list">
                    <li class="uno"><h4>SERVICIO AL CLIENTE<i class="fa-solid fa-headphones-simple"></i></h4><br><br><ul class="institucional"><li>MEMBRESÍAS</li><li>CUPONES</li><li>MEDIOS DE PAGO</li><li>GARANTÍAS</li></ul></li><br>
                    <li class="uno"><h4>INSTITUCIONAL <i class="fa-solid fa-building"></i></h4><br><br><ul class="institucional"><li>LOCALES</li><li>CONTACTO</li><li>FORMULARIO DE CONTACTO</li></ul></li><br>
                    <li class="uno"><h4>AYUDA <i class="fa-solid fa-hand-holding-hand"></i></h4><br><br><ul class="institucional"><li>CAMBIOS Y DEVOLUCIONES</li><li>PREGUNTAS FRECUENTES</li><li>CUIDADO DEL CALZADO</li></ul></li><br>
                    <li class="uno"><h4>FRANQUICIAS <i class="fa-solid fa-store"></i></h4><br><br><ul class="institucional"><li>REQUISITOS</li><li>INFORMACIÓN LEGAL</li></ul></li><br>
                    <li class="uno"><h4>ACERCA DE SHOE-MARKET <i class="fa-solid fa-people-group"><br></i></h4><ul class="institucional"><li>NOSOTROS</li><li>TÉRMINOS Y CONDICIONES</li><li>POLÍTICA DE PRIVACIDAD</li><li>POLÍTICA DE DATOS</li><li>TRABAJA CON NOSOTROS</li></ul></li>
                    <li class="uno"><h4>EVENTOS <i class="fa-solid fa-building"></i></h4><br><ul class="institucional"><li>NOSOTROS</li><li>TÉRMINOS Y CONDICIONES</li><li>POLÍTICA DE PRIVACIDAD</li><li>POLÍTICA DE DATOS</li><li>TRABAJA CON NOSOTROS</li></ul></li>
    
                </ul>               
            </div>
    
           
    
            <div class="social-nets">
              
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-twitter-square"></i>
                <i class="fa-brands fa-instagram-square"></i>
                <i class="fa-brands fa-google-plus-square"></i>     
                <i class="fa-brands fa-linkedin"></i>  
                <i class="fa-brands fa-whatsapp-square"></i>  
                
            </div>
    
            <div class="td">
                <h5>SHOE MARKET <i class="fa-solid fa-copyright"></i> Todos los derechos reservados</h5>
            </div>      
    
        </footer>
</body>
</html>