<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>
                <main class="main-register">

        
                    <form  action="/" method="POST" class="form-Reg">
            
                        <div class="form__nombre">
                            <label for="nombre">Nombre y Apellido *</label>
                            <input type="text" name="Nombre" id="nombre" placeholder=" Introduzca su Nombre y apellido" required minlength="4">
                        </div>
                        <div class="form__usuario">
                            <label for="usuario">Nombre de usuari@ *</label>
                            <input type="text" name="usuario" id="usuario" placeholder="Introduzca su Nombre de usuari@" required minlength="4">
                        </div>
                        <div class="form__fecha">
                            <label for="fecha">Fecha de nacimiento</label>
                            <input type="date" name="fecha" id="fecha" value="fecha">
            
                        </div>
                        <div class="form__domicilio">
                            <label for="domicilio">Domicilio de envio 1 *</label><br>
                            <input type="text" name="domicilio" id="domicilio" placeholder=" Introduzca su Domicilio" required minlength="4" >
                        </div>
                        <div class="form__domicilio">
                            <label for="domicilio">Domicilio de envio 2  </label><br>
                            <input type="text" name="domicilio" id="domicilio" placeholder=" Introduzca su Domicilio" >
                        </div>
                        
                            <div class="form__password">
                                <label class="form__password__title" for="pass">Contrase単a *</label><br>
                                <input type="password" name="pass" id="pass" placeholder="Introduzca su contrase単a"  required minlength="4">
                            </div>
                            <div class="form__confirm">
                                <label class="form__confirm__title" for="pass">Confirmar contrase単a *</label>
                                <input type="password" name="pass" id="pass" placeholder="Introduzca su contrase単a nuevamente" required minlength="4">
                            </div>
                            <div class="contenedor_button" >
                                <button class="form__button" type="submit" >Borrar</button>
                                <button class="form__button" type="submit" >Enviar</button>
            
                            </div>
            
            
            
            
            
            
            
                    </form>
            
                    <div class="help-button">
                        <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                      </div>
            
                </main>
            
                <%- include("./partials/footer") %>
</body>
</html>