<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c0b01d51a5.js" crossorigin="anonymous"></script> <!--para íconos de  fontawesome-->   

<title>Registro</title>
</head>
<body>
    Registro
    <header>

        <div class="texto">
            <h4>Envío gratis en compras superiores a $2000</h4>
        </div>
        
        <div class="principal">
            <div class="logo">
                <img src = "/Desing/LOGO.jpeg" alt="logo" >
            </div>        
            
            <div class="form">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>     
            
            <nav>                             
                <div class="cuenta">
                    <ul class="cuentaCarrito">
                        <li><a href="#">Cuenta</a></li>
                        <li><a href="#">Carrito de compras</a></li>
                        <li><img src = "/img/cart-shopping-solid.svg" alt="logo" class="carrito"></li>
                    </ul>                   
                   
                </div>

               
             <!-- </nav>              

             <nav> -->
                               
                <div class="menu">
                    <ul class="menus">
                        <li><a href="#New Arrivals">New Arrivals </a></li>
                        <li><a href="#Borcegos">Borcegos </a></li>
                        <li><a href="#Botas">Botas </a></li>
                        <li><a href="#Texanas">Texanas </a></li>                                                                                         
                        
                        
                    </ul>
                </div>               

            </nav>
            
                            
        </div>
      
    </header>
    <main></main>
    <footer>

        <!-- <div class="cuotas">
            <div class="cuotas-pagos">
               
                <img src = "/img/vestuario.gif" alt="logo" >
                <h3>COLECCIÓN</h3>
              <h3>Ver todo</h3>
            </div>
            
           
            <div class="cuotas-pagos">
                <img src = "/img/edificio.gif" alt="logo" >
                <h3>INSTITUCIONAL</h3>
                <ul>
                    <li>Locales</li>
                    <li>Contacto</li>
                    <li>Formulario de Contacto</li>
                    <li>Franquicias</li>
                    <li>Trabaja con nosotros</li>
                   
                </ul>

            </div>

            <div class="cuotas-pagos">
                <img src = "/img/apoyo.gif" alt="logo" >
                <h3>AYUDA</h3>
                <ul>
                    <li>Cambios y Devoluciones</li>
                    <li>Preguntas frecuentes</li>
                    <li>Cuidado del calzado</li>
                    <li>Guía de tallas</li>
                </ul>
            </div>

            <div class="cuotas-pagos">
                <img src = "/img/redes-sociales.gif" alt="logo" >
                <h3>REDES</h3>
                <ul>
                    <li> FACEBOOK<i class="fa-brands fa-facebook-square"></i></li>
                    <li>INSTAGRAM <i class="fa-brands fa-instagram-square"></i> </li>
                    <li>TWITER <i class="fa-brands fa-twitter"></i> </li>
                    <li>LINKEDIN  <i class="fa-brands fa-linkedin"></i> </li>
                </ul>
                
            </div>

        </div>   -->

        <div class="footer-mobile">
            <ul class="footer-mobile-list">
                <li>LOCALES <i class="fa-solid fa-caret-down"></i></li><br>
                <li>CONTACTO <i class="fa-solid fa-caret-down"></i></li><br>
                <li>PROMOCIONES <i class="fa-solid fa-caret-down"></i></li><br>
                <li>FRANQUICIAS <i class="fa-solid fa-caret-down"></i></li><br>
                <li>TRABAJA CON NOSOTROS <i class="fa-solid fa-caret-down"></i></li>
            </ul>               
        </div>

        <div class="social-nets">
          
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-google-plus-square"></i>     
            <i class="fa-brands fa-linkedin"></i>  
            <i class="fa-brands fa-whatsapp-square"></i>  
            
        </div>

        <div class="td">
            <h5>SHOE MARKET <i class="fa-solid fa-copyright"></i> Todos los derechos reservados</h5>
        </div>      


    </footer>
</body>
</html>