*{
    box-sizing: border-box;
}

/* ////////////////////////////////////////INICIO HEADER //////////////////////////////////////////////////*/

.principal{
    height: 110px;
    /* border: solid 2px red; */
    border-bottom: gray solid 1px;
   
}

.texto{
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

.logo{
    
    width: 9%;
    /* border: solid 1px red;    */
    
}

.form{
    /* background-color: blue; */
    width: fit-content;
    margin-left: 100px;
    margin-top: -60px;
    /* border: solid 1px red; */
   
}
    
.menu{
    /* border: solid 2px blue; */
    margin-left: 100px;
    margin-top: 20px;
    width: fit-content; 
    font-family: 'Roboto', sans-serif;  
    
}

ul{
    /* list-style-type: none; */
    margin: 0;
    /* padding: 0; */
    
}

li {
    display: inline;
    
      }

   a{
       color: black;
       font-size: small;
       margin-right: 15px; /*space between li elements */
   }

.cuenta{
       /* background-color: aqua; */
       margin-left: 690px;
       margin-top: -55px;
       margin-right: 15px;
       font-family: 'Roboto', sans-serif;     
         }

/* /////////////////////////////////////////FIN DEL HEADER //////////////////////////////////////////////////*/

/* ///////////////////////////////////INICIA CARRITO DE COMPRAS /////////////////////////////////////////////*/

.maincarrito{
    font-family: "ubuntu";
    margin-left: 15px;
}

.nombreproductocarrito {
    margin-left: 25px;

    padding-right: 0px;
}
.lineacarrito {
    border-bottom: 1px solid rgb(175, 153, 153);
    margin-left: -50px;
    margin-top: 20px;
}

.productocarrito{
width: 30%;
margin-top: 5px;
margin-bottom: 5px;
border: 1px inset rgb(175, 153, 153);
margin-left: 25px;
}

.precioCarrito{
    color: rgb(78, 84, 82);
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;

    padding-bottom: 10px;
    padding-top: 10px;

}
.logomasmenoscarrito{
    color: white;
    background-color: rgb(70, 69, 69);
    margin-left: 5px;
    margin-right: 5px;
}
.cantidadproductocarrito{
    border: 1px solid rgb(70, 69, 69);
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
}

.sumacantidadresta{
    display: inline;
    position: relative;
    bottom: 8px;
}

.botoneliminar{
    color : red;
    border: 0px;

}
.iconoeliminar{
    color: red;
    display: inline;

}

.articleeliminar{
    text-align: center;
}

/* ////////////////////////////////////FINALIZA CARRITO DE COMPRAS////////////////////////////////////////*/



/* //////////////////////////////////////////INICIO FOOTER ///////////////////////////////////////////////*/

.cuotas{
    background-color:aquamarine;
    margin-top: 100%;
    overflow: hidden;
    padding: 1em;
       
}     


.coleccion{
    background-color: aqua;
}
   
.cuotas-pagos{
   
    width: 20%;
    height: 5%;
    text-align: center;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;  
    border: solid 1px red;
    padding: 1em;
    margin: 1em;
    float: left;
    
}


.cuotas-pagos p{
    font-size: x-small;
    /* margin-left: 15%; */
    text-align: justify;
    
}

.cuotas-pagos h6{
    color: black;

    
}


.cuotas-pagos img{
    width: 20%;
    height: 20%;
   
    
}

/* //////////////////////////////////////////FIN DEL FOOTER /////////////////////////////////////////////////////*/
