*{
    box-sizing: border-box;
}

/*INICIO HEADER*/

.header {
    background-color: rgb(134, 19, 105);
    color: white;
    width: 100%;
    padding: 30px;
}


/*FIN DEL HEADER*/




/* INICIA CARRITO DE COMPRAS*/

.maincarrito{
    font-family: "ubuntu";
    margin-left: 15px;
}

.nombreproductocarrito {
    margin-left: 25px;
    
    padding-right: 0px;
}
.lineacarrito {
    border-bottom: 1px solid rgb(175, 153, 153);
    margin-left: -50px;
    margin-top: 20px;
}

.productocarrito{
width: 30%;
margin-top: 5px;
margin-bottom: 5px;
border: 1px inset rgb(175, 153, 153);
margin-left: 25px;
}

.precioCarrito{
    color: rgb(78, 84, 82);
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;

    padding-bottom: 10px;
    padding-top: 10px;

}
.logomasmenoscarrito{
    color: white;
    background-color: rgb(70, 69, 69);
    margin-left: 5px;
    margin-right: 5px;
}
.cantidadproductocarrito{
    border: 1px solid rgb(70, 69, 69);
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
}

.sumacantidadresta{
    display: inline;
    position: relative;
    bottom: 8px;
}

.botoneliminar{
    color : red;
    border: 0px;
    
}
.iconoeliminar{
    color: red;
    display: inline;
    
}

.articleeliminar{
    text-align: center;
}


/* FINALIZA CARRITO DE COMPRAS*/


/*INICIO FOOTER*/
.footer {
    background-color: rgb(134, 19, 105);
    color: white;
    width: 100%;
    padding: 30px;
}

/*FIN DEL FOOTER*/