<%- include("../partials/head") %>
<body>
<%- include("../partials/header") %>   
                <main class="main-login">
                    <section class="section-login">
            
            
                        <form action="/" method="POST" class="form-login">
            
                            <div class="usuario">
            
                                <div class="usuario__nombre">
                                    <label for="name"></label>
                                    <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" required minlength="4">
            
                                </div>
                                <div class="usuario__pass">
                                    <label for="password"></label>
                                    <input type="password" name="nombre" id="nombre" placeholder="Contraseña" required minlength="4"> 
            
                                </div>
            
                            </div>
            
            
                            <div class="section-login__button">
            
                                <button class="button-login" type="submit">Enviar</button>
            
                            </div>
            
            
                        </form>
                    </section>
            
                    <div class="help-button">
                        <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                      </div>
            

                </main>
                <%- include("../partials/footer") %>
</body>
</html>