<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">
                <div class="productos-admin">

                     
                    <%- include('../components/singleUserLogged') %> 
                       
    
                </div>


            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>

    </html>