.navbar{
    height: 70px;
    border-bottom:  0.5px solid rgb(188, 177, 177);
    margin-top: 0px;
    align-items: center;
    background-color: white;
    

}
.show{
    display: block;
}
.navBar-title{
     color: #443c3c;
     font-weight: bold;
     font-size: 20px;
     padding-left: 25px;
     align-items: center;
}
.navBar-title:hover{
  color:rgb(90 34 130); ;

}
.navBar-link{
    text-decoration: none;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    display: flex;
    margin-right: 25px;
    padding-top: 15px;
}
.item{
    margin-left: 15px;
}
.navbar-icon{
    font-size: 25px;
    margin-right: 5px;
}
.burguer-menu{
    margin-left: 15px;
    font-size: 25px;
    font-weight: 500;
}

@media(min-width:768px) {
    .burguer-menu{
        display: none;
    }
    .sideBar{
        display: block;
    }
}




