.navbar{
    height: 70px;
    border-bottom:  0.5px solid rgb(188, 177, 177);
    margin-top: 25px;
    align-items: center;

}
.navBar-title{
     color: #443c3c;
     font-weight: bold;
     font-size: 20px;
     padding-left: 25px;
     align-items: center;
     padding-top: 15px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    display: flex;
    margin-right: 25px;
    padding-top: 15px;
}
.item{
    margin-left: 15px;
}
.navbar-icon{
    font-size: 25px;
    margin-right: 5px;
}