.sideBar {
    flex: 1;
    border-right: 0.5px solid rgb(188, 177, 177);
    

}
.none{
    display: none;

}

.top {

    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.logo {
    width: 50%;
}


.center {
    padding-right: 10px;
    padding-left: 10px;

}

.center ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.center ul li {
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    
}
.sideBar-link{
    text-decoration: none;
}


.center ul li:hover {
    background-color: rgb(253 197 199)
}

.title {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 10px;

}
.sideBar-icon{
    font-size: 22px;
    margin-right: 5px;
    color: #98092f
}
.center ul li span{
    font-size: 15px;
    font-weight: bold;
    color: #443c3c
}
.sideBar-bottom{
    display: flex;
    margin: 10px;
    align-items: center;
}
.colorOption{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    margin: 5px;
  
}
.dark{
    background-color: #0c0c64;
    
    
}
.light{
    
    background-color: whitesmoke;
}

@media(min-width:998px) {
    .top {
        height: 180px;
    }
    .logo {
        width: 50%;
    }


}
@media(min-width:768px) {
    .burguer-menu{
        display: none;
    }
    .sideBar{
        display: block;
    }
}
