<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <main class="main-carrito">
                <div class="primer-parte-carrito" id="carrito">
                    <table class="tabla-carrito">
                        <thead>
                            <tr>
                                <th class="probandocarrito"> Foto </th>
                                <th class="probandocarrito"> Cantidad </th>
                                <th class="probandocarrito"> Precio </th>


                            </tr>
                        </thead>
                        <tbody class="tabla-carrito-body">

                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <button id="vaciar-carrito" class="btn-cupon form__button">Vaciar carrito </button>
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>


                    </table>
                </div>



                <div class="div-resumen-compra">
                    <div class="resumen-de-compra">

                        <article class="resumencarrito">
                            <h2 class="title-resumen">Resumen de compra</h2>

                            <p class="cupon-descuento__text">Cupon de descuento</p>
                            <div class="descuento-flex">

                                <form class="cupon-descuento__form">

                                    <div class="cont-cupon">

                                        <label for="cupon"></label>
                                        <input type="text" name="cupon" placeholder="Ingrese su codigo">
                                        <button type="submit" class="form__button btn-cupon">
                                            Usar Cupon

                                        </button>


                                    </div>

                                </form>



                            </div>



                        </article>

                        <article class="fin-compra">

                            <div class="contenedor-precios">
                                <div class="contenedor-sub">
                                    <div class="contenedor-sub__text"></div>
                                    <div class="contenedor-sub__text"></div>
                                </div>



                                <div class="contenedor-total">
                                    <div class="contenedor-total__text">Total</div>
                                    <div class="contenedor-total__price"></div>

                                </div>

                            </div>

                            <div class="boton-finalizar">
                                <div>
                                    <a href="https://www.mercadopago.com.ar/home">

                                        <button class="boton-finalizar__terminar btn-finalizar-carrito form__button">Finalizar compra</button>
                                    </a>
                                </div>
                                <div>
                                    <a href="/">
                                        <BUTton class="boton-finalizar__seguir form__button">Seguir comprando</BUTton>
                                    </a>
                                </div>


                            </div>

                    </div>

                    </article>
                </div>

                <div class="help-button">
                    <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                </div>

            </main>


            <%- include("../partials/footer") %>
                <script src="/js/probandoCarrito.js"></script>
                <script src="/js/carrito.js"></script>

    </body>

    </html>