<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>
        <main id="main-home">

            <!-- Banner -->
            <div class="banner"></div>
            <!-- /Banner -->
            
            
            
            <section class="productos">
                <% products.forEach(product=> { %>
                    <% if (product.status === "Enabled") { %>
                        <%- include("../components/productHome",{product:product}) %>
                        <% } %>
                 <% }) %>
                </section>
            </main>
            
            
            <%- include("../partials/footer") %>
            <script src="/js/home.js"></script>

    </body>

    </html>