<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>
            <!-- Banner -->
            <div class="banner"></div>
            <!-- /Banner -->

           

            <section class="productos">
                <% products.forEach(product=> { %>
                    <% if (product.status === "Enabled") { %>
                        <%- include("../components/productHome",{product:product}) %>
                    <% } %>
                 <% }) %>
            </section>
        <%- include("../partials/footer") %>

    </body>

    </html>