<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <!-- Banner -->
            <div class="banner"></div>
            <!-- /Banner -->

           

            <section class="productos">
                <% busqueda.forEach(product=> { %>
                    <div class="produc">
                        <%- include("../components/singleProduct",{product:product}) %>
                    </div>
                    <% }) %>
            </section>


          

                <% if (!busqueda[0]) { %>
                    <div class="col-12">
                        <h2 class="products-title" style="color: rgb(211, 32, 0);">No hay productos que
                            coincidan con esa
                            búsqueda</h2>
                    </div>
                    <% } %>






                        <%- include("../partials/footer") %>
    </body>

    </html>